step_functions/pipeline_orchestation.json
{
  "Comment": "YouTube Data Pipeline — Full orchestration via Step Functions. Replaces manual execution of individual jobs.",
  "StartAt": "IngestFromYouTubeAPI",
  "States": {
    "IngestFromYouTubeAPI": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:636192784572:function:yt-data-pipeline-youtube-ingestion",
        "Payload": {
          "triggered_by": "step_functions",
          "execution_id.$": "$$.Execution.Id"
        }
      },
      "ResultPath": "$.ingestion_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyIngestionFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "WaitForS3Consistency"
    },
    "WaitForS3Consistency": {
      "Type": "Wait",
      "Seconds": 10,
      "Comment": "Brief wait to ensure S3 eventual consistency for newly written objects",
      "Next": "ProcessInParallel"
    },
    "ProcessInParallel": {
      "Type": "Parallel",
      "Comment": "Run reference data transform and statistics ETL in parallel",
      "Branches": [
        {
          "StartAt": "TransformReferenceData",
          "States": {
            "TransformReferenceData": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:636192784572:function:youtube-data-pipeline-json-to-parquet",
                "Payload": {
                  "triggered_by": "step_functions"
                }
              },
              "ResultPath": "$.reference_result",
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "IntervalSeconds": 15,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "RunBronzeToSilverGlueJob",
          "States": {
            "RunBronzeToSilverGlueJob": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "youtube-data-pipeline-bronze-to-silver",
                "Arguments": {
                  "--bronze_database": "youtube-data-pipeline-bronze",
                  "--bronze_table": "raw_statistics",
                  "--silver_bucket": "youtube-data-pipeline-2026-silver-us-east-1",
                  "--silver_database": "youtube-data-pipeline-silver",
                  "--silver_table": "clean_statistics"
                }
              },
              "ResultPath": "$.glue_bronze_silver_result",
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "IntervalSeconds": 60,
                  "MaxAttempts": 2,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.parallel_results",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyTransformFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "RunDataQualityChecks"
    },
    "RunDataQualityChecks": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:636192784572:function:youtube-data-pipeline-data-quality",
        "Payload": {
          "layer": "silver",
          "database": "youtube-data-pipeline-silver",
          "tables": [
            "clean_statistics",
            "clean_reference_data"
          ]
        }
      },
      "ResultPath": "$.dq_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 15,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Next": "EvaluateDataQuality"
    },
    "EvaluateDataQuality": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.dq_result.Payload.quality_passed",
          "BooleanEquals": true,
          "Next": "RunSilverToGoldGlueJob"
        }
      ],
      "Default": "NotifyDQFailure"
    },
    "RunSilverToGoldGlueJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "youtube-data-pipeline-silver-to-gold",
        "Arguments": {
          "--silver_database": "youtube-data-pipeline-silver",
          "--gold_bucket": "youtube-data-pipeline-2026-gold-us-east-1",
          "--gold_database": "youtube-data-pipeline-gold"
        }
      },
      "ResultPath": "$.glue_gold_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyGoldFailure",
          "ResultPath": "$.error"
        }
      ],
      "Next": "NotifySuccess"
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:636192784572:youtube-data-pipeline-alerts",
        "Subject": "[YT Pipeline] Pipeline completed successfully",
        "Message.$": "States.Format('Pipeline run {} completed. All layers updated.', $$.Execution.Id)"
      },
      "End": true
    },
    "NotifyIngestionFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:636192784572:youtube-data-pipeline-alerts",
        "Subject": "[YT Pipeline] FAILURE — Ingestion step failed",
        "Message.$": "States.JsonToString($.error)"
      },
      "End": true
    },
    "NotifyTransformFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:636192784572:youtube-data-pipeline-alerts",
        "Subject": "[YT Pipeline] FAILURE — Transform step failed",
        "Message.$": "States.JsonToString($.error)"
      },
      "End": true
    },
    "NotifyDQFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:636192784572:youtube-data-pipeline-alerts",
        "Subject": "[YT Pipeline] WARNING — Data quality checks failed",
        "Message.$": "States.JsonToString($.dq_result)"
      },
      "End": true
    },
    "NotifyGoldFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:636192784572:youtube-data-pipeline-alerts",
        "Subject": "[YT Pipeline] FAILURE — Gold aggregation failed",
        "Message.$": "States.JsonToString($.error)"
      },
      "End": true
    }
  }
}